@import "tailwindcss";

@theme {
  --flex-2: 2 2 0%;
  --flex-0_0_100: 0 0 100%;
  --flex-0_0_50: 0 0 50%;
  --flex-0_0_33: 0 0 33%;

  --color-black: #000000;
  --color-lighter-black: #151515;
  --color-grey: #222222;
  --color-dusty-blue: #6b7b8c;
  --color-gold: #b28b4a;
  --color-white: #ffffff;

  --color-primary: var(--color-black);
  --color-secondary: #0f0f0f;
  --color-text: var(--color-white);
  --color-text-secondary: #a1a1aa;
  --color-text-muted: #71717a;
  --color-accent: #ff0000;
  --color-border: #27272a;

  --spacing-half-width: 50dvw;
  --spacing-half-height: 50dvh;

  --transition-duration: 150ms;
  --grid-fade-in-duration: 500ms;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* Hero */
@utility font-family-header {
  /* Fonts */
  font-family: var(--font-space-grotesk);
  @apply text-9xl font-bold tracking-tighter uppercase;
}

/* Section */
@utility font-family-secondary {
  /* Fonts */
  font-family: var(--font-space-grotesk);
  @apply text-6xl font-bold tracking-tight uppercase;
}

/* Grid Labels */
@utility font-family-grid-label {
  /* Fonts */
  font-family: var(--font-space-grotesk);
  @apply text-2xl font-semibold tracking-tight uppercase lg:text-5xl;
}

/* Nav Links */
@utility font-family-nav-link {
  /* Fonts */
  font-family: var(--font-inter);
  @apply text-xs font-normal tracking-widest uppercase lg:text-sm;
}

/* Body (large) */
@utility font-family-regular-lg {
  /* Fonts */
  font-family: var(--font-space-grotesk);
  @apply text-xl font-normal tracking-tight;
}

/* Body (small) */
@utility font-family-regular-sm {
  /* Fonts */
  font-family: var(--font-space-grotesk);
  @apply text-sm font-normal;
}

/* Metadata */
@utility font-family-mono {
  /* Fonts */
  font-family: var(--font-ibm-plex-mono);
  @apply text-sm font-normal tracking-widest;
}

@utility glassmorph {
  background: rgba(86, 86, 86, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

@utility glassmorph-padding {
  padding: 2rem;
}

@utility text-shadow-gold {
  text-shadow: 0px 4px 15px var(--color-gold);
}

@utility text-shadow-gold-sm {
  text-shadow: 0px 4px 15px rgba(178, 139, 74, 0.25);
}

@utility fade-in {
  /* Animations */
  animation: fade-in 0.5s forwards;
}

@utility fade-out {
  animation: fade-out 0.5s forwards;
}

@utility hover-underline {
  @apply after:block after:origin-left after:scale-x-0 after:border-b-2 after:border-b-white after:duration-200 after:content-[''] hover:after:scale-x-100;
}

@utility typewriter {
  &::after {
    animation: typing 1s infinite;
  }
}

@utility dots {
  /* Change these variables to change the effect's duration or delay */
  --typing-duration: 1.5s; /* Total loop duration */
  --typing-steps: 6; /* The number of steps (usually should be kept as 2 times the number of dots */
  --typing-step-duration: calc(var(--typing-duration) / var(--typing-steps));

  & div {
    animation: typing var(--typing-duration) steps(1) infinite;
  }

  & div:nth-child(1) {
    animation-delay: calc(var(--typing-step-duration) * 0);
  }
  & div:nth-child(2) {
    animation-delay: calc(var(--typing-step-duration) * 1);
  }
  & div:nth-child(3) {
    animation-delay: calc(var(--typing-step-duration) * 2);
  }
}

@utility navbar-dropdown-sections-open {
  animation: slide-down-fade-in 500ms ease-out forwards;
}

@layer utilities {
  body {
    @apply selection:bg-accent bg-black selection:text-white;
  }

  /* Keyframes */

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes typing {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
