@import "../globals.css";

@layer utilities {
  html,
  body {
    @apply selection:bg-accent h-screen overflow-y-scroll scroll-smooth bg-black selection:text-white md:snap-y md:snap-mandatory;
  }
}
